*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

body{
    background-image: url(mapa.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-maior{
    background-color: #000000f2;
    width: 450px;
    border-radius: 25px;
    padding: 20px;
}

.input-texto{
    width: 100%;
    height: 100px;
    border: none;
    outline: none;
    background-color: #ffffff1a;
    border-radius: 15px;
    resize: none;
    font-size: 16px;
    color: white;
    padding: 10px;
}

.idioma{
    width: 100%;
    border-radius: 15px;
    outline: none;
    padding: 8px;
    background-color: #ffffff1a;
    color: white;
    border: none;
}

button{
    border: none;
    padding: 10px;
    background-color: #ffffff1a;
    border-radius: 50%;
    cursor: pointer;
}

.controle{
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 17px;
    align-items: center;
}

.titulo-traducao{
    color: #ffffff99;
    font-size: 14px;
    margin-bottom: 10px;
}

.traducao{
    font-size: 20px;
    color: white;
}

.resultado{
    padding: 10px;
    background-color: #ffffff1a;
    border-radius: 15px;
}

button:hover{
    background-color: #4d4d4df2;
    transition: 0.4s;
    width: 48px;
    height: 40px;
    transform: scale(1.1)
}

select {
  background-color: #1e1e1e;
  color: #fff;
}

select option {
  background-color: #1e1e1e;
  color: #fff;
}